<div class="info">
  <h1>shareholder statistique</h1>
  <div class="items">
    <div class="item">
      <h2>{{statList[0]}}</h2>
      <h4>Le partner le plus fréquent est</h4>
    </div>
    <div class="item">
      <h2>{{statList[1]}}</h2>
      <h4>Le partner le moins fréquent est </h4>
    </div>
    <div class="item">
      <h2>{{statList[2]}}</h2>
      <h4>NB qui n'ont pas participé à event</h4>
    </div>
    <div class="item">
      <h2>{{statList[3]}}</h2>
      <h4>NB qui participe à au moins un event</h4>
    </div>

  </div>
</div>

