.info{
  width: 100%;
  height: 100%;
  margin-left: 110px;
  text-align: center;
}
.info h1{
  margin-bottom: 100px;
  margin-top: 100px;
}
.info h2{
  margin-bottom: 50px;
  margin-top: 50px;
}
.items{

  text-align: center;
}
.items .item{
  height: 200px;
  width: 200px;
  border: solid;
  display: inline-block;
  border-radius: 20px;
  margin-right: 70px;
}
