<div class="info">
  <h1>event statistique</h1>
  <div class="items">
    <div class="item">
      <h2>{{statList[0]}}</h2>
      <h4>L'événement le plus fréquent</h4>
    </div>
    <div class="item">
      <h2>{{statList[1]}}</h2>
      <h4>L'événement le moins fréquent</h4>
    </div>
    <div class="item">
      <h2>{{statList[2]}}</h2>
      <h4>NB event ayant au moins un Shareholder</h4>
    </div>
    <div class="item">
      <h2>{{statList[3]}}</h2>
      <h4>NB event qui n'ont aucun Shareholder</h4>
    </div>

  </div>
</div>
