<div class="table-container">
  <h2>Liste D'Offers-Credits:</h2>
  <table class="table table-striped-columns" class="table-smal">
    <div class="body table-responsive">

      <table class="table table-bordered">
        <thead>
        <tr>
          <th>#</th>
          <th>Date</th>
          <th>Amount</th>
          <th>Statut</th>
          <th>Description</th>
          <th>Gender</th>
          <th>Monthly-Pay</th>
          <th>Term-Loan</th>
          <th>Start-Repayment</th>
          <th>delete</th>
          <th>update</th>

        </tr>
        </thead>
        <tbody>
        <tr *ngFor='let u of listRequests'>
          <th scope="row">{{u.id_request}}</th>
          <td>{{u.request_date}}</td>
          <td>{{u.amount_req}}</td>
          <td>{{u.statut}}</td>
          <td>{{u.description}}</td>
          <td>{{u.gender}}</td>
          <td>{{u.monthly_pay}}</td>
          <td>{{u.term_loan}}</td>
          <td>{{u.start_repayment}}</td>

          <td> <div class="form-group">
            <input class="btn btn-danger" type="submit" name="submit_reg" value="delete" (click)="deleteRequest(u.id_request)">
          </div></td>

          <td> <button routerLink="/update/{{u.id_request}}" class="btn btn-warning">update</button></td>


        </tr>
        </tbody>
      </table>
    </div>
  </table>

</div>
